:root {
  --content: 'Open Sans', sans-serif;
  --titles: 'Quicksand', sans-serif;
}

html {
  font-family: var(--content);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #f2f3f7;
  padding: 20px 0 20px 0;
  }

  .container {
  width: 794px;
  height: 1122px;
  background: white;
  box-shadow: 0px 0px 150px #d7e0e7;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  }

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  background: red;
  width: 100%;
}

.right {
  background: green;
  width: 100%;
}

.center {
  background: blue;
  width: 100%;
}

.portrait {
  width: 150px;
  border-radius: 100px;
  }

.content {
    display: flex;
    flex-wrap: wrap;
}

.education, .experience, .skills, .languages, .certification {
    width: 50%;
    padding: 20px;
    text-align: left;
}

.title {
    font-family: var(--titles);
    font-weight: 400;
    color: #23b6db;
}

.education-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
