@font-face {
  font-family: ContentFont;
  src: url('fonts/Open_Sans/OpenSans-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: TitlesFontRegular;
  src: url('fonts/Quicksand/Quicksand-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: TitlesFontBold;
  src: url('fonts/Quicksand/Quicksand-Bold.ttf');
  font-display: swap;
}

html {
  font-family: ContentFont;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #f2f3f7;
  margin: 0;
}

body ::selection {
    background: rgba(237, 255, 0, 0.5);
}

.container {
  border-radius: 0;
  background: white;
  box-shadow: 0px 0px 150px #d7e0e7;
  text-align: center;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #dbe0e7;
  padding: 20px;
  background: #23b6db;
  color: white;
}

.left {
  width: 100%;
  order: 2;
  margin: 40px 0;
  transition: unset;
}

.left, .right {
  font-family: TitlesFontRegular;
}

.age, .email {
  position: relative;
  padding-bottom: 10px;
}

.location, .phone {
  padding-top: 13px;
}

.age:after, .email:after {
  content: '';
  width: 40%;
  height: 2px;
  transform: translateY(4px);
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.right {
  width: 100%;
  order: 3;
  transition: unset;
}

.center {
  width: 100%;
  height: 100%;
  order: 1;
  transition: unset;
}

.portrait {
  width: 150px;
  border-radius: 100px;
}

.name {
    padding-top: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.education, .experience, .skills, .languages, .certification {
  padding: 28px;
  text-align: center;
}

.education {
  margin-top: 20px;
}

.languages {
  margin-bottom: 20px;
}

.title {
  font-family: TitlesFontBold;
  font-weight: bolder;
  color: #23b6db;
  width: fit-content;
  width: -moz-fit-content;
  position: relative;
  margin: auto auto 30px auto;
}

.title:after {
  content: '';
  width: 40%;
  height: 3px;
  transform: translateY(9px);
  position: absolute;
  background: #db237f;
  bottom: 0;
  left: 29%;
}

.education-item, .experience-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.language-item, .skill-item {
  padding-bottom: 10px;
}

.degree, .establishment, .language-name, .skill-item-title, .name {
  font-family: TitlesFontBold;
  font-size: 19px;
  font-weight: bold;
}

.school {
  padding-right: 5px;
}

.school, .date, .language-detail, .period, .certificate-issuer {
  font-size: 15px;
  color: #8895ae;
}

.type {
  font-weight: 700;
  font-size: 18px;
  color: #8895ae;
}

@media (min-width: 812px) {

body {
  margin: 75px 0;
}

.container {
  width: 794px;
  height: 1122px;
  margin: auto;
  border-radius: 20px;
}

.intro {
  flex-wrap: unset;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 250px;
}

.left {
  order: unset;
}

.right {
  order: unset;
}

.center {
  order: unset;
}

.content {
  flex-wrap: wrap;
  height: 894px;
}

.education, .experience, .skills, .languages, .certification {
  width: 49%;
  text-align: left;
}

.education {
    margin-top: unset;
}

.title {
    margin: 0 0 30px 0;
}

.title:after {
    left: 0;
}

.education, .experience {
    padding-right: 14px;
    padding-left: 28px;
}

.skills, .languages, .certification {
    padding-left: 14px;
    padding-right: 28px;
}
}

.noscript {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #db237f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 20px;
    font-size: 14px;
}
